from datetime import timedelta
# rabbit mq
BROKER_URL = 'amqp://'
# The name of the DB
CELERY_RESULT_BACKEND = 'db+postgresql://ritesh@/ritesh'
CELERYBEAT_SCHEDULE = {
    'fetch-direct-messages-every-min': {
        'task': 'tasks.fetchdms',
        'schedule': timedelta(minutes=1)
    },
    'refresh-followers-every-2-min': {
        'task': 'tasks.refresh_followers',
        'schedule': timedelta(minutes=1)
    },
    'autofollow-all' : {
        'task': 'tasks.auto_follow',
        'schedule': timedelta(minutes=2)
    }
}
CELERY_TIMEZONE = 'UTC'
