{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
<title> Check me out!</title>
{{super()}}
{{fixes.ie8()}}
{% endblock %}
{% block scripts %}
{{super()}}
{% endblock %}
{% block content %}
<div class="container theme-showcase" role="main">
    <div class ="jumbotron">
    <h1>Are you following everyone?</h1>
        <p> To check if you follow some key Cigital tweeters, login with your twitter account. We do not store your
         Twitter credentials and authorization tokens generated are only used to determine if you follow certain people.</p>
        {% if not follows %}
        <p><a href="{{ url_for('login') }}" class="btn btn-primary btn-lg" role="button">Sign in with twitter &raquo;</a></p>
        {% endif %}
    </div>
{% for message in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissable">
{{ message }}
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
{% endfor %}
{% if follows %}
        {% for key, value in follows.iteritems() %}
           {% if value == True %}
           <h3>You're already following {{key[0] | e }} </h3>
           {% else %}
           <h3> {{key[0] | e}} <a href="https://twitter.com/{{ key[1] | e }}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{ key[1] | e }}</a>
                   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> </h3>
           <!-- <h3>You should follow {{key[0] | e }} <a href="https://twitter.com/{{ key[1] | e }}" class="btn btn-primary btn-lg" role="button">@{{ key[1] | e }}</a> </h3> -->
           {% endif %}
        {% endfor %}
{% else %}
{% endif %}
</div>
{% endblock %}
